html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans";
  background-color: #f3f3f3;
}

select {
  font-family: "Noto Sans";
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  display: flex;
  justify-content: center;
  width: 900px;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 2px dashed black;
  background: white;
  border-radius: 25px;
}

#optionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 12px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  text-decoration: underline;
}

.settingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#info {
  position: absolute;
  margin-left: 10px;
}

a {
  color: yellow;
  text-decoration: none;
}

#optionSelect {
  width: 200px;
  height: 25px;
  border-radius: 4px;
}