html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans";
  background-color: #f3f3f3;
}

select {
  font-family: "Noto Sans";
}

#container {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 900px;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 2px dashed black;
  background: white;
  border-radius: 25px;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 12px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  text-decoration: underline;
}

.settingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#info {
  position: absolute;
  margin-left: 10px;
}

.customSelect {
  width: 150px;
  height: 25px;
  border-radius: 4px;
}

#see2DButton {
  border-radius: 10px;
  background-color: #3273f6;
  padding: 10px;
  color: white;
  border-color: #3273f6;
}

#see2DButton:hover {
  background-color: #3759b4;
  border-color: #3759b4;
}

.orText {
  font-weight: bold;
  font-size: 24px;
}

.equalSizeContainer {
  flex-basis: 0;
  flex-grow: 1;
}

input {
  font-family: "Noto Sans";
}

input::file-selector-button
{
  width: 100px;
  height: 25px;
  border-radius: 4px;
  background: white;
  font-family: "Noto Sans";
  border: 1px solid black;
}