html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans";
  background-color: #f3f3f3;
}

select {
  font-family: "Noto Sans";
}

#container {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 900px;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 2px dashed black;
  background: white;
  border-radius: 25px;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 12px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  text-decoration: underline;
}

.settingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#info {
  position: absolute;
  margin-left: 10px;
}

.customSelect {
  width: 150px;
  height: 25px;
  border-radius: 4px;
}

.primaryButton {
  border-radius: 10px;
  background-color: #3273f6;
  padding: 10px;
  color: white;
  border-color: #3273f6;
}

.primaryButton:hover {
  background-color: #3759b4;
  border-color: #3759b4;
}

.orText {
  font-weight: bold;
  font-size: 24px;
}

.equalSizeContainer {
  flex-basis: 0;
  flex-grow: 1;
}

input {
  font-family: "Noto Sans";
}

input::file-selector-button
{
  width: 100px;
  height: 25px;
  border-color: #3759b4 !important;
  border-radius: 10px;
  background: #3273f6;
  color: white;
  font-family: "Noto Sans";
  border: 1px solid black;
}

input::file-selector-button:hover {
  background-color: #3759b4;
  border-color: #3759b4 !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.uploadOptionsContainer {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: center;
}

#howToButton {
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}